<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <title>Document</title>
  <style>
    body {
      width: 100%;
      align-items: center;
      height: 100%;
      background-position: center center;
      background-repeat: no-repeat;
      background-attachment: fixed;
      background-size: cover;
      overflow: hidden;
      background-image: url("../bk.jpeg");
    }

    ul {
      width: 100%;
      display: flex;
      flex-flow: row wrap;
      justify-content: space-between;
      float: left;
      right: -90px;
      flex-wrap: wrap;
      bottom: 10px;
      align-items: flex-end;
      font-size: 20 px;
      padding: 0px;
      line-height: 0px;
      padding-left: 50px;
      padding-right: 50px;
      list-style-type: none;
    }

    a:link {
      text-decoration: none;
    }

    a:visited {
      text-decoration: none;
    }

    a:hover {
      text-decoration: underline;
    }

    a:active {
      text-decoration: underline;
    }

    .form {
      padding: auto;
      top: 4rem;
      text-align: center;
      font-size: 1rem;
      border: 2px solid black;
      border-radius: 5px solid black;
      position: relative;
    }
  </style>
</head>
