<style>
  ul {
    width: 80%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    float: left;
    right: -90px;
    flex-wrap: wrap;
    bottom: 10px;
    align-items: flex-start;
    padding: 0px;
    line-height: 0px;
    font-size: 2rem;
    /* padding-left: 50px;
    padding-right: 50px; */
    list-style-type: none;
  }

  li {
    justify-content: space-between;
    font-size: 2 rem;
  }

  a:link {
    text-decoration: none;
  }

  a:visited {
    text-decoration: none;
  }

  a:hover {
    text-decoration: underline;
  }

  a:active {
    text-decoration: underline;
  }
  header {
    text-align: center;
    padding: 3px;
    background-color: rgb(245, 185, 165);
    color: white;
    width: auto;
    height: 60px;
    border-radius: 5px;
  }
</style>

<nav class="menu">
  <header>
    <ul>
      <li><a href="../index">Home</a></li>
      <li><a href="../index">Login</a></li>
      <li><a href="../index">Register</a></li>
    </ul>
  </header>
</nav>
